n8n-whatsapp-workflow-complete-FIXED.json
    {
        "name": "WhatsApp CRM AI - Full Support",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "whatsapp-webhook",
                    "responseMode": "lastNode",
                    "options": {}
                },
                "id": "webhook",
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    200,
                    400
                ],
                "webhookId": "whatsapp-webhook"
            },
            {
                "parameters": {
                    "amount": 1
                },
                "type": "n8n-nodes-base.wait",
                "typeVersion": 1.1,
                "position": [
                    360,
                    400
                ],
                "id": "wait1",
                "name": "Wait",
                "webhookId": "wait-webhook"
            },
            {
                "parameters": {
                    "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst data = body.data || body;\nconst message = data.message || {};\nconst key = data.key || {};\n\nconst instance_server_url = body.server_url || '';\nconst instance_name = body.instance || '';\nconst instance_apikey = body.apikey || '';\nconst message_id = key.id || '';\nconst user_number = key.remoteJid || body.sender || '';\nconst phone = user_number.replace('@s.whatsapp.net', '').replace('@g.us', '');\nconst pushName = data.pushName || body.pushName || '';\nconst direction = key.fromMe ? 'outbound' : 'inbound';\n\nlet message_content_type = 'text';\nlet message_content = '';\n\n// Ultra-robust text extraction\nif (message.conversation) {\n  message_content = message.conversation;\n} else if (message.extendedTextMessage && message.extendedTextMessage.text) {\n  message_content = message.extendedTextMessage.text;\n} else if (message.imageMessage) {\n  message_content_type = 'image';\n  message_content = message.imageMessage.caption || '';\n} else if (message.audioMessage) {\n  message_content_type = 'audio';\n  message_content = 'Audio';\n} else if (message.videoMessage) {\n  message_content_type = 'video';\n  message_content = message.videoMessage.caption || '';\n} else if (body.text) {\n  message_content = body.text;\n} else if (data.text) {\n  message_content = data.text;\n} else if (message.text) {\n  message_content = message.text;\n}\n\nconst safeName = pushName ? String(pushName).replace(/'/g, \"''\").substring(0, 100) : 'WA ' + phone;\nconst rawContent = String(message_content).trim();\nconst safeContent = rawContent.replace(/'/g, \"''\");\nconst lowerContent = rawContent.toLowerCase();\nconst containsKeyword = lowerContent.includes('alquimia') || lowerContent.includes('debug') || lowerContent.includes('test');\n\nreturn [{\n  json: {\n    instance_server_url,\n    instance_name,\n    instance_apikey,\n    message_id,\n    message_content_type,\n    message_content: safeContent.substring(0, 1000),\n    user_number,\n    user_name: safeName,\n    phone,\n    direction,\n    lead_name: safeName,\n    contains_keyword: containsKeyword\n  }\n}];"
                },
                "id": "normalize",
                "name": "Normalizacion",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    520,
                    400
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT id, chatbot_enabled FROM leads WHERE phone = '{{ $json.phone }}' OR phone = '+{{ $json.phone }}' LIMIT 1",
                    "options": {}
                },
                "id": "checkleadstatus",
                "name": "Check Lead Status",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    700,
                    400
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "postgres": {
                        "id": "VyG1bjMeGSJKR4Dx",
                        "name": "PostgresPrexUp"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "const normData = $('Normalizacion').first().json;\nconst leadResult = $input.first().json;\n\nconst containsKeyword = !!normData.contains_keyword;\nconst chatbotEnabled = leadResult.chatbot_enabled === true || leadResult.chatbot_enabled === 'true' || leadResult.chatbot_enabled == 1;\nconst leadExists = !!leadResult.id;\nconst isOutbound = normData.direction === 'outbound';\n\n// Lógica ESTRICTA:\n// 1. Si es outbound (mensaje del bot), BLOQUEAR para evitar bucles.\n// 2. Si el chatbot YA está habilitado para este lead, PERMITIR.\n// 3. Si el mensaje contiene la palabra clave \"alquimia\", PERMITIR y activar.\n// 4. En cualquier otro caso, BLOQUEAR.\n\nconst shouldProceed = !isOutbound && (chatbotEnabled || containsKeyword);\n\nreturn [{\n  json: {\n    ...normData,\n    lead_exists: leadExists,\n    existing_lead_id: leadResult.id || null,\n    chatbot_was_enabled: chatbotEnabled,\n    should_proceed: !!shouldProceed,\n    activate_chatbot: containsKeyword && !chatbotEnabled,\n    debug_info: {\n      is_outbound: isOutbound,\n      has_keyword: containsKeyword,\n      is_enabled: chatbotEnabled,\n      final_decision: !!shouldProceed,\n      content_received: normData.message_content\n    }\n  }\n}];"
                },
                "id": "evaluateaccess",
                "name": "Evaluate Access",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    880,
                    400
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "boolean": [
                            {
                                "value1": "={{ $json.should_proceed }}",
                                "value2": true
                            }
                        ]
                    }
                },
                "id": "filtroconversacion",
                "name": "Filtro Conversacion",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    1060,
                    400
                ]
            },
            {
                "parameters": {
                    "rules": {
                        "values": [
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.message_content_type }}",
                                            "rightValue": "audio",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": true,
                                "outputKey": "Audio"
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.message_content_type }}",
                                            "rightValue": "image",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": true,
                                "outputKey": "Imagen"
                            },
                            {
                                "conditions": {
                                    "options": {
                                        "caseSensitive": true,
                                        "leftValue": "",
                                        "typeValidation": "strict",
                                        "version": 2
                                    },
                                    "conditions": [
                                        {
                                            "leftValue": "={{ $json.message_content_type }}",
                                            "rightValue": "text",
                                            "operator": {
                                                "type": "string",
                                                "operation": "equals"
                                            }
                                        }
                                    ],
                                    "combinator": "and"
                                },
                                "renameOutput": true,
                                "outputKey": "Texto"
                            }
                        ]
                    },
                    "options": {
                        "fallbackOutput": "extra",
                        "renameFallbackOutput": "Otro"
                    }
                },
                "type": "n8n-nodes-base.switch",
                "typeVersion": 3.2,
                "position": [
                    1240,
                    400
                ],
                "id": "switch",
                "name": "Switch"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "={{ $('Evaluate Access').item.json.instance_server_url }}/chat/getBase64FromMediaMessage/{{ $('Evaluate Access').item.json.instance_name }}",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "apikey",
                                "value": "={{ $('Evaluate Access').item.json.instance_apikey }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "message.key.id",
                                "value": "={{ $('Evaluate Access').item.json.message_id }}"
                            },
                            {
                                "name": "convertToMp4",
                                "value": "={{ Boolean(false) }}"
                            }
                        ]
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1440,
                    200
                ],
                "id": "getaudio",
                "name": "Get Audio"
            },
            {
                "parameters": {
                    "operation": "toBinary",
                    "sourceProperty": "base64",
                    "options": {
                        "mimeType": "={{ $json.mimetype }}"
                    }
                },
                "type": "n8n-nodes-base.convertToFile",
                "typeVersion": 1.1,
                "position": [
                    1620,
                    200
                ],
                "id": "convertaudio",
                "name": "Convertir Audio"
            },
            {
                "parameters": {
                    "resource": "audio",
                    "operation": "transcribe",
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.openAi",
                "typeVersion": 1.8,
                "position": [
                    1800,
                    200
                ],
                "id": "transcribe",
                "name": "Transcribir",
                "credentials": {
                    "openAiApi": {
                        "id": "gYGyxfOKDAAf2esW",
                        "name": "OpenAi account"
                    }
                }
            },
            {
                "parameters": {
                    "assignments": {
                        "assignments": [
                            {
                                "id": "a1",
                                "name": "final_content",
                                "value": "={{ $json.text }}",
                                "type": "string"
                            },
                            {
                                "id": "a2",
                                "name": "phone",
                                "value": "={{ $('Evaluate Access').item.json.phone }}",
                                "type": "string"
                            },
                            {
                                "id": "a3",
                                "name": "lead_name",
                                "value": "={{ $('Evaluate Access').item.json.lead_name }}",
                                "type": "string"
                            },
                            {
                                "id": "a4",
                                "name": "direction",
                                "value": "={{ $('Evaluate Access').item.json.direction }}",
                                "type": "string"
                            },
                            {
                                "id": "a5",
                                "name": "message_id",
                                "value": "={{ $('Evaluate Access').item.json.message_id }}",
                                "type": "string"
                            },
                            {
                                "id": "a6",
                                "name": "activate_chatbot",
                                "value": "={{ $('Evaluate Access').item.json.activate_chatbot }}",
                                "type": "boolean"
                            }
                        ]
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                    1980,
                    200
                ],
                "id": "setaudio",
                "name": "Set Audio Content"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "={{ $('Evaluate Access').item.json.instance_server_url }}/chat/getBase64FromMediaMessage/{{ $('Evaluate Access').item.json.instance_name }}",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "apikey",
                                "value": "={{ $('Evaluate Access').item.json.instance_apikey }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "message.key.id",
                                "value": "={{ $('Evaluate Access').item.json.message_id }}"
                            },
                            {
                                "name": "convertToMp4",
                                "value": "={{ Boolean(false) }}"
                            }
                        ]
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1440,
                    400
                ],
                "id": "getimage",
                "name": "Get Image"
            },
            {
                "parameters": {
                    "operation": "toBinary",
                    "sourceProperty": "base64",
                    "options": {
                        "mimeType": "={{ $json.mimetype }}"
                    }
                },
                "type": "n8n-nodes-base.convertToFile",
                "typeVersion": 1.1,
                "position": [
                    1620,
                    400
                ],
                "id": "convertimage",
                "name": "Convertir Imagen"
            },
            {
                "parameters": {
                    "resource": "image",
                    "operation": "analyze",
                    "modelId": {
                        "__rl": true,
                        "value": "gpt-4o",
                        "mode": "list",
                        "cachedResultName": "GPT-4O"
                    },
                    "text": "Describe esta imagen brevemente y menciona si se trata de una propiedad, terreno o algo relacionado a bienes raíces.",
                    "inputType": "base64",
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.openAi",
                "typeVersion": 1.8,
                "position": [
                    1800,
                    400
                ],
                "id": "describeimage",
                "name": "Describir Imagen",
                "credentials": {
                    "openAiApi": {
                        "id": "gYGyxfOKDAAf2esW",
                        "name": "OpenAi account"
                    }
                }
            },
            {
                "parameters": {
                    "assignments": {
                        "assignments": [
                            {
                                "id": "b1",
                                "name": "final_content",
                                "value": "=[IMAGEN] {{ $json.content }}",
                                "type": "string"
                            },
                            {
                                "id": "b2",
                                "name": "phone",
                                "value": "={{ $('Evaluate Access').item.json.phone }}",
                                "type": "string"
                            },
                            {
                                "id": "b3",
                                "name": "lead_name",
                                "value": "={{ $('Evaluate Access').item.json.lead_name }}",
                                "type": "string"
                            },
                            {
                                "id": "b4",
                                "name": "direction",
                                "value": "={{ $('Evaluate Access').item.json.direction }}",
                                "type": "string"
                            },
                            {
                                "id": "b5",
                                "name": "message_id",
                                "value": "={{ $('Evaluate Access').item.json.message_id }}",
                                "type": "string"
                            },
                            {
                                "id": "b6",
                                "name": "activate_chatbot",
                                "value": "={{ $('Evaluate Access').item.json.activate_chatbot }}",
                                "type": "boolean"
                            }
                        ]
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                    1980,
                    400
                ],
                "id": "setimage",
                "name": "Set Image Content"
            },
            {
                "parameters": {
                    "assignments": {
                        "assignments": [
                            {
                                "id": "c1",
                                "name": "final_content",
                                "value": "={{ $json.message_content }}",
                                "type": "string"
                            },
                            {
                                "id": "c2",
                                "name": "phone",
                                "value": "={{ $json.phone }}",
                                "type": "string"
                            },
                            {
                                "id": "c3",
                                "name": "lead_name",
                                "value": "={{ $json.lead_name }}",
                                "type": "string"
                            },
                            {
                                "id": "c4",
                                "name": "direction",
                                "value": "={{ $json.direction }}",
                                "type": "string"
                            },
                            {
                                "id": "c5",
                                "name": "message_id",
                                "value": "={{ $json.message_id }}",
                                "type": "string"
                            },
                            {
                                "id": "c6",
                                "name": "activate_chatbot",
                                "value": "={{ $json.activate_chatbot }}",
                                "type": "boolean"
                            }
                        ]
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                    1440,
                    600
                ],
                "id": "settext",
                "name": "Set Text Content"
            },
            {
                "parameters": {
                    "jsCode": "return $input.all();"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2160,
                    400
                ],
                "id": "merge",
                "name": "Merge"
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "WITH existing AS (\n  SELECT id FROM leads WHERE phone = '{{ $json.phone }}' OR phone = '+{{ $json.phone }}' LIMIT 1\n), \nnew_lead AS (\n  INSERT INTO leads (name, phone, status, source, chatbot_enabled) \n  SELECT '{{ $json.lead_name }}', '{{ $json.phone }}', 'NEW', 'whatsapp', true \n  WHERE NOT EXISTS (SELECT 1 FROM existing) \n  RETURNING id\n),\nupdate_chatbot AS (\n  UPDATE leads SET chatbot_enabled = true \n  WHERE (phone = '{{ $json.phone }}' OR phone = '+{{ $json.phone }}') AND {{ $json.activate_chatbot }} = true\n  RETURNING id\n)\nSELECT COALESCE(\n  (SELECT id FROM existing), \n  (SELECT id FROM new_lead)\n) as lead_id",
                    "options": {}
                },
                "id": "createlead",
                "name": "GetOrCreateLead",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    2340,
                    400
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "postgres": {
                        "id": "VyG1bjMeGSJKR4Dx",
                        "name": "PostgresPrexUp"
                    }
                }
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "INSERT INTO messages (lead_id, content, direction, type, status, whatsapp_id) VALUES ('{{ $json.lead_id }}', '{{ $('Merge').item.json.final_content }}', '{{ $('Merge').item.json.direction }}', 'text', 'received', '{{ $('Merge').item.json.message_id }}')",
                    "options": {}
                },
                "id": "savemsg",
                "name": "SaveMessage",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    2520,
                    400
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "postgres": {
                        "id": "VyG1bjMeGSJKR4Dx",
                        "name": "PostgresPrexUp"
                    }
                }
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "INSERT INTO message_queue (phone, content, status, created_at) VALUES ('{{ $('Merge').item.json.phone }}', '{{ $('Merge').item.json.final_content }}', 'pending', NOW())",
                    "options": {}
                },
                "id": "insertqueue",
                "name": "Insert to Queue",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    2700,
                    400
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "postgres": {
                        "id": "VyG1bjMeGSJKR4Dx",
                        "name": "PostgresPrexUp"
                    }
                }
            },
            {
                "parameters": {
                    "amount": 5,
                    "unit": "seconds"
                },
                "type": "n8n-nodes-base.wait",
                "typeVersion": 1.1,
                "position": [
                    2880,
                    400
                ],
                "id": "waitqueue",
                "name": "Wait 3s",
                "webhookId": "wait-queue"
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "WITH updated AS (\n  UPDATE message_queue \n  SET status = 'processed' \n  WHERE id IN (\n    SELECT id FROM message_queue \n    WHERE phone = '{{ $('Merge').item.json.phone }}' \n    AND status = 'pending' \n    ORDER BY created_at\n    FOR UPDATE SKIP LOCKED\n  )\n  RETURNING content\n)\nSELECT string_agg(content, ' | ') as merged_message, COUNT(*) as msg_count \nFROM updated\nHAVING COUNT(*) > 0",
                    "options": {}
                },
                "id": "getqueue",
                "name": "Get & Merge Queue",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    3060,
                    400
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "postgres": {
                        "id": "VyG1bjMeGSJKR4Dx",
                        "name": "PostgresPrexUp"
                    }
                }
            },
            {
                "parameters": {
                    "conditions": {
                        "boolean": [
                            {
                                "value1": "={{ !!$json.merged_message }}",
                                "value2": true
                            }
                        ]
                    }
                },
                "id": "hasmessages",
                "name": "Has Messages?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    3240,
                    400
                ]
            },
            {
                "parameters": {
                    "jsCode": "const queueData = $('Get & Merge Queue').first().json;\nconst mergeData = $('Merge').first().json;\nconst leadData = $('GetOrCreateLead').first().json;\n\n// Validar que haya mensajes en la cola\nif (!queueData.merged_message || queueData.msg_count === 0) {\n  throw new Error('No hay mensajes en la cola para procesar');\n}\n\nreturn [{\n  json: {\n    chat_input: queueData.merged_message,\n    session_id: mergeData.phone,\n    lead_id: leadData.lead_id\n  }\n}];"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3420,
                    400
                ],
                "id": "prepareai",
                "name": "Prepare AI Input"
            },
            {
                "parameters": {
                    "promptType": "define",
                    "text": "={{ $json.chat_input }}",
                    "options": {
                        "systemMessage": "Fecha y hora actual: {{ $now }}\n\n# ROL\nEres PREXA, asistente virtual de ventas de **Residencial Alquimia** en Huaranguillo, Sachaca - Arequipa. Tu único objetivo es vender LOTES (terrenos) de este proyecto exclusivo.\nSIEMPRE RESPONDE EN ESPAÑOL.\n\n# CONTEXTO DEL PROYECTO\n- Proyecto: Residencial Alquimia\n- Ubicación: Huaranguillo, Sachaca - Arequipa, Perú\n- Producto: SOLO lotes/terrenos (no casas, no departamentos)\n- Características: Urbanización cerrada, áreas verdes, parques, seguridad 24/7\n\n# TONO Y ESTILO\n- Profesional pero cercano y entusiasta\n- Respuestas concisas (máximo 4-5 líneas)\n- Usa emojis con moderación 🏡✨\n- Siempre positivo y orientado a la venta\n\n# HERRAMIENTAS DISPONIBLES\n1. **buscar_propiedades**: Obtiene lotes disponibles. NO requiere parámetros. Devuelve: id, description, location, price, currency, area.\n2. **asignar_agente**: Asigna un asesor al cliente. Devuelve: agent_name, agent_phone. ÚSALO cuando el cliente muestre interés real.\n3. **crear_cita**: Agenda una visita. Requiere: property_id, client_name, client_phone, scheduled_date (YYYY-MM-DD), scheduled_time (HH:MM).\n4. **calificar_y_perfil_lead**: Registra preferencias del cliente. Requiere: budget (número), property_interest (ubicación preferida), interest (Invertir/Construir/Ambos).\n\n# ESTRATEGIA DE VENTAS: DOBLE ALTERNATIVA\nCuando el cliente pregunte por una ubicación específica (ej: 'frente al parque', 'esquina', 'cerca a la entrada'):\n1. Usa buscar_propiedades para obtener la lista\n2. Filtra mentalmente los lotes que coinciden con su criterio\n3. SIEMPRE presenta DOS opciones:\n   - La opción PREMIUM (más cara): Destaca sus beneficios únicos\n   - La opción ECONÓMICA (más barata): Enfatiza el valor por el precio\n4. Pregunta: '¿Cuál de estas dos opciones te gustaría conocer más a fondo?'\n\n# FLUJO DE CONVERSACIÓN\n1. **Saludo/Interés inicial**: Pregunta qué tipo de lote busca (ubicación, tamaño, presupuesto)\n2. **Muestra interés real**: Usa `asignar_agente` y di:\n   '¡Excelente! Para brindarte información más precisa, te he asignado a [agent_name] 📞 Su número es +[agent_phone]. Te recomiendo agregarlo a tus contactos para no confundirlo con spam.'\n3. **Búsqueda de lotes**: Usa `buscar_propiedades` y aplica la Doble Alternativa\n4. **Calificación**: Cuando identifiques su interés, usa `calificar_y_perfil_lead`\n5. **Agendar cita**: Ofrece agendar una visita usando `crear_cita`\n\n# MANEJO DE CITAS\n- Puedes crear citas nuevas con `crear_cita`\n- Si el cliente quiere modificar una cita existente, crea una nueva con los datos actualizados\n- Confirma siempre: fecha, hora y lote de interés\n\n# REGLAS IMPORTANTES\n- Si preguntan por Lima u otra ciudad: 'Por ahora solo tenemos lotes disponibles en Arequipa, en nuestra exclusiva Residencial Alquimia en Sachaca. ¿Te gustaría conocer las opciones?'\n- NUNCA digas 'hubo un problema técnico' - siempre mantén la conversación fluida\n- Si una herramienta devuelve datos (agent_name, agent_phone), ÚSALOS en tu respuesta\n- Precios en USD (dólares americanos)\n- Si la herramienta devuelve 'error', ofrece alternativas amablemente\n\n# EJEMPLO DE RESPUESTA CON DOBLE ALTERNATIVA\n'¡Tenemos excelentes opciones frente al parque! 🌳\n\n**Opción Premium**: Lote 05, Mz B - 145m² a $92,500 USD. Ubicación privilegiada con vista directa al parque principal.\n\n**Opción Económica**: Lote 12, Mz C - 120m² a $69,600 USD. Excelente relación precio-tamaño, a pocos metros del parque.\n\n¿Cuál de estas te gustaría conocer más a fondo? 😊'"
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 2,
                "position": [
                    3620,
                    400
                ],
                "id": "aiagent",
                "name": "AI Agent"
            },
            {
                "parameters": {
                    "model": {
                        "__rl": true,
                        "value": "gpt-4o",
                        "mode": "list",
                        "cachedResultName": "gpt-4o"
                    },
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
                "typeVersion": 1.2,
                "position": [
                    3520,
                    620
                ],
                "id": "openaimodel",
                "name": "OpenAI Chat Model",
                "credentials": {
                    "openAiApi": {
                        "id": "gYGyxfOKDAAf2esW",
                        "name": "OpenAi account"
                    }
                }
            },
            {
                "parameters": {
                    "sessionIdType": "customKey",
                    "sessionKey": "={{ $('Prepare AI Input').item.json.session_id }}",
                    "contextWindowLength": 20
                },
                "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
                "typeVersion": 1.3,
                "position": [
                    3660,
                    620
                ],
                "id": "memory",
                "name": "Postgres Chat Memory",
                "credentials": {
                    "postgres": {
                        "id": "VyG1bjMeGSJKR4Dx",
                        "name": "PostgresPrexUp"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "const output = $json.output || '';\nconst leadId = $('Prepare AI Input').item.json.lead_id;\nconst safeOutput = output.replace(/'/g, \"''\");\n\nreturn [{ json: { full_response: safeOutput, lead_id: leadId, output: output } }];"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3820,
                    400
                ],
                "id": "prepareresponse",
                "name": "Prepare Response"
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "INSERT INTO messages (lead_id, content, direction, type, status) VALUES ('{{ $json.lead_id }}', '{{ $json.full_response }}', 'outbound', 'text', 'sent')",
                    "options": {}
                },
                "id": "saveairesponse",
                "name": "Save AI Response",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    4000,
                    400
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "postgres": {
                        "id": "VyG1bjMeGSJKR4Dx",
                        "name": "PostgresPrexUp"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "const output = $('Prepare Response').first().json.output || '';\nconst normData = $('Normalizacion').first().json;\n\nif (!output || output.trim() === '') {\n  return [{ json: { \n    response_text: 'Lo siento, hubo un error. ¿Puedes repetir tu mensaje?',\n    instance_server_url: normData.instance_server_url,\n    instance_name: normData.instance_name,\n    instance_apikey: normData.instance_apikey,\n    user_number: normData.user_number\n  } }];\n}\n\nconst sentences = output.split(/(?<=[.!?])\\s+/).filter(s => s.trim().length > 0);\nconst chunks = [];\nfor (let i = 0; i < sentences.length; i += 2) {\n  const chunk = sentences.slice(i, i + 2).join(' ').trim();\n  if (chunk) chunks.push(chunk);\n}\n\nif (chunks.length === 0) {\n  chunks.push(output);\n}\n\nreturn chunks.map(text => ({ \n  json: { \n    response_text: text,\n    instance_server_url: normData.instance_server_url,\n    instance_name: normData.instance_name,\n    instance_apikey: normData.instance_apikey,\n    user_number: normData.user_number\n  } \n}));"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    4180,
                    400
                ],
                "id": "splitresponse",
                "name": "Split Response"
            },
            {
                "parameters": {
                    "options": {}
                },
                "type": "n8n-nodes-base.splitInBatches",
                "typeVersion": 3,
                "position": [
                    4360,
                    400
                ],
                "id": "loop",
                "name": "Loop Messages"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "={{ $json.instance_server_url }}/message/sendText/{{ $json.instance_name }}",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "apikey",
                                "value": "={{ $json.instance_apikey }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "number",
                                "value": "={{ $json.user_number }}"
                            },
                            {
                                "name": "text",
                                "value": "={{ $json.response_text }}"
                            },
                            {
                                "name": "delay",
                                "value": "={{ 1000 }}"
                            }
                        ]
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    4540,
                    500
                ],
                "id": "sendmsg",
                "name": "Enviar WhatsApp"
            },
            {
                "parameters": {
                    "name": "buscar_propiedades",
                    "description": "Obtiene la lista de todas las propiedades disponibles.",
                    "method": "GET",
                    "url": "https://tlaxqjnaddqwybhcapgb.supabase.co/rest/v1/properties?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsYXhxam5hZGRxd3liaGNhcGdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4MDM5NTQsImV4cCI6MjA4MzM3OTk1NH0.Pvrwi6Q5kXwu_lji1Mrelw6pMQ74ajfjapXakbFMUWc&select=id,description,location,price,currency,area&status=eq.Disponible&limit=20",
                    "sendHeaders": false,
                    "specifyInputSchema": false
                },
                "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
                "typeVersion": 1,
                "position": [
                    3460,
                    620
                ],
                "id": "toolsearch",
                "name": "buscar_propiedades"
            },
            {
                "parameters": {
                    "name": "crear_cita",
                    "description": "Crea una cita. Parámetros: property_id, client_name, client_phone, scheduled_date, scheduled_time.",
                    "method": "POST",
                    "url": "https://tlaxqjnaddqwybhcapgb.supabase.co/rest/v1/rpc/create_appointment_with_agent?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsYXhxam5hZGRxd3liaGNhcGdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4MDM5NTQsImV4cCI6MjA4MzM3OTk1NH0.Pvrwi6Q5kXwu_lji1Mrelw6pMQ74ajfjapXakbFMUWc",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "specifyInputSchema": true,
                    "schemaType": "json",
                    "inputSchema": "{\"type\":\"object\",\"properties\":{\"property_id\":{\"type\":\"string\"},\"client_name\":{\"type\":\"string\"},\"client_phone\":{\"type\":\"string\"},\"scheduled_date\":{\"type\":\"string\"},\"scheduled_time\":{\"type\":\"string\"}},\"required\":[\"property_id\",\"client_name\",\"client_phone\",\"scheduled_date\",\"scheduled_time\"]}",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\n  \"property_id\": \"{{property_id}}\",\n  \"client_name\": \"{{client_name}}\",\n  \"client_phone\": \"{{client_phone}}\",\n  \"scheduled_date\": \"{{scheduled_date}}\",\n  \"scheduled_time\": \"{{scheduled_time}}\"\n}"
                },
                "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
                "typeVersion": 1,
                "position": [
                    3460,
                    760
                ],
                "id": "toolcreate",
                "name": "crear_cita"
            },
            {
                "parameters": {
                    "name": "asignar_agente",
                    "description": "Asigna un asesor humano aleatorio al lead. Requiere lead_id.",
                    "method": "POST",
                    "url": "https://tlaxqjnaddqwybhcapgb.supabase.co/rest/v1/rpc/assign_random_agent?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsYXhxam5hZGRxd3liaGNhcGdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4MDM5NTQsImV4cCI6MjA4MzM3OTk1NH0.Pvrwi6Q5kXwu_lji1Mrelw6pMQ74ajfjapXakbFMUWc",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "specifyInputSchema": true,
                    "schemaType": "json",
                    "inputSchema": "{\"type\":\"object\",\"properties\":{},\"required\":[]}",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"p_lead_id\": \"{{ $('Prepare AI Input').item.json.lead_id }}\"}"
                },
                "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
                "typeVersion": 1,
                "position": [
                    3460,
                    900
                ],
                "id": "toolassign",
                "name": "asignar_agente"
            },
            {
                "parameters": {
                    "name": "calificar_y_perfil_lead",
                    "description": "Registra el presupuesto y preferencias del cliente. Requiere lead_id, budget, property_interest, interest.",
                    "method": "POST",
                    "url": "https://tlaxqjnaddqwybhcapgb.supabase.co/rest/v1/rpc/qualify_and_profile_lead?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsYXhxam5hZGRxd3liaGNhcGdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4MDM5NTQsImV4cCI6MjA4MzM3OTk1NH0.Pvrwi6Q5kXwu_lji1Mrelw6pMQ74ajfjapXakbFMUWc",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "specifyInputSchema": true,
                    "schemaType": "json",
                    "inputSchema": "{\"type\":\"object\",\"properties\":{\"budget\":{\"type\":\"number\"},\"property_interest\":{\"type\":\"string\"},\"interest\":{\"type\":\"string\"}},\"required\":[\"budget\",\"property_interest\",\"interest\"]}",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"p_lead_id\": \"{{ $('Prepare AI Input').item.json.lead_id }}\", \"p_budget\": {{budget}}, \"p_property_interest\": \"{{property_interest}}\", \"p_interest\": \"{{interest}}\"}"
                },
                "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
                "typeVersion": 1,
                "position": [
                    3460,
                    1040
                ],
                "id": "toolqualify",
                "name": "calificar_y_perfil_lead"
            }
        ],
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Wait",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Wait": {
                "main": [
                    [
                        {
                            "node": "Normalizacion",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Normalizacion": {
                "main": [
                    [
                        {
                            "node": "Check Lead Status",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Check Lead Status": {
                "main": [
                    [
                        {
                            "node": "Evaluate Access",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Evaluate Access": {
                "main": [
                    [
                        {
                            "node": "Filtro Conversacion",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Filtro Conversacion": {
                "main": [
                    [
                        {
                            "node": "Switch",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Switch": {
                "main": [
                    [
                        {
                            "node": "Get Audio",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Get Image",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Set Text Content",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Set Text Content",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Audio": {
                "main": [
                    [
                        {
                            "node": "Convertir Audio",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Convertir Audio": {
                "main": [
                    [
                        {
                            "node": "Transcribir",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Transcribir": {
                "main": [
                    [
                        {
                            "node": "Set Audio Content",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Set Audio Content": {
                "main": [
                    [
                        {
                            "node": "Merge",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Image": {
                "main": [
                    [
                        {
                            "node": "Convertir Imagen",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Convertir Imagen": {
                "main": [
                    [
                        {
                            "node": "Describir Imagen",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Describir Imagen": {
                "main": [
                    [
                        {
                            "node": "Set Image Content",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Set Image Content": {
                "main": [
                    [
                        {
                            "node": "Merge",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Set Text Content": {
                "main": [
                    [
                        {
                            "node": "Merge",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Merge": {
                "main": [
                    [
                        {
                            "node": "GetOrCreateLead",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "GetOrCreateLead": {
                "main": [
                    [
                        {
                            "node": "SaveMessage",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "SaveMessage": {
                "main": [
                    [
                        {
                            "node": "Insert to Queue",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Insert to Queue": {
                "main": [
                    [
                        {
                            "node": "Wait 3s",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Wait 3s": {
                "main": [
                    [
                        {
                            "node": "Get & Merge Queue",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get & Merge Queue": {
                "main": [
                    [
                        {
                            "node": "Has Messages?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Has Messages?": {
                "main": [
                    [
                        {
                            "node": "Prepare AI Input",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Prepare AI Input": {
                "main": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "buscar_propiedades": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "obtener_agentes": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "crear_cita": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "OpenAI Chat Model": {
                "ai_languageModel": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "Postgres Chat Memory": {
                "ai_memory": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_memory",
                            "index": 0
                        }
                    ]
                ]
            },
            "AI Agent": {
                "main": [
                    [
                        {
                            "node": "Prepare Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare Response": {
                "main": [
                    [
                        {
                            "node": "Save AI Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Save AI Response": {
                "main": [
                    [
                        {
                            "node": "Split Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Split Response": {
                "main": [
                    [
                        {
                            "node": "Loop Messages",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Loop Messages": {
                "main": [
                    [],
                    [
                        {
                            "node": "Enviar WhatsApp",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Enviar WhatsApp": {
                "main": [
                    [
                        {
                            "node": "Loop Messages",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "toolsearch": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "toolcreate": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "toolsearch_pg": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "toolcreate_pg": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "asignar_agente": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "calificar_y_perfil_lead": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "settings": {
            "executionOrder": "v1"
        },
        "active": false
    }