n8n-whatsapp-workflow-simplified.json
{
    "name": "WhatsApp CRM AI",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-webhook",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                400
            ],
            "webhookId": "whatsapp-webhook"
        },
        {
            "parameters": {
                "amount": 1
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                360,
                400
            ],
            "id": "wait1",
            "name": "Wait",
            "webhookId": "wait-webhook"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst data = body.data || body;\nconst message = data.message || {};\nconst key = data.key || {};\n\nconst instance_server_url = body.server_url || '';\nconst instance_name = body.instance || '';\nconst instance_apikey = body.apikey || '';\nconst message_id = key.id || '';\nconst user_number = key.remoteJid || body.sender || '';\nconst phone = user_number.replace('@s.whatsapp.net', '').replace('@g.us', '');\nconst pushName = data.pushName || body.pushName || '';\nconst direction = key.fromMe ? 'outbound' : 'inbound';\n\nlet message_content_type = 'text';\nlet message_content = '';\n\nif (message.audioMessage) {\n  message_content_type = 'audio';\n  message_content = 'Audio';\n} else if (message.imageMessage) {\n  message_content_type = 'image';\n  message_content = message.imageMessage.caption || 'Imagen';\n} else if (message.videoMessage) {\n  message_content_type = 'video';\n  message_content = message.videoMessage.caption || 'Video';\n} else if (message.extendedTextMessage) {\n  message_content_type = 'text';\n  message_content = message.extendedTextMessage.text || '';\n} else if (message.conversation) {\n  message_content_type = 'text';\n  message_content = message.conversation || '';\n}\n\nconst safeName = pushName ? String(pushName).replace(/'/g, \"''\").substring(0, 100) : 'WA ' + phone;\nconst safeContent = String(message_content).replace(/'/g, \"''\").substring(0, 1000);\nconst containsKeyword = safeContent.toLowerCase().includes('alquimia');\n\nreturn [{\n  json: {\n    instance_server_url,\n    instance_name,\n    instance_apikey,\n    message_id,\n    message_content_type,\n    message_content: safeContent,\n    user_number,\n    user_name: safeName,\n    phone,\n    direction,\n    lead_name: safeName,\n    contains_keyword: containsKeyword\n  }\n}];"
            },
            "id": "normalize",
            "name": "Normalizacion",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                520,
                400
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT id, chatbot_enabled FROM leads WHERE phone = '{{ $json.phone }}' LIMIT 1",
                "options": {}
            },
            "id": "checkleadstatus",
            "name": "Check Lead Status",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                700,
                400
            ],
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "VyG1bjMeGSJKR4Dx",
                    "name": "PostgresPrexUp"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const normData = $('Normalizacion').first().json;\nconst leadResult = $input.first().json;\n\nconst containsKeyword = normData.contains_keyword || false;\nconst chatbotEnabled = leadResult.chatbot_enabled || false;\nconst leadExists = leadResult.id ? true : false;\nconst shouldProceed = containsKeyword || chatbotEnabled;\n\nreturn [{\n  json: {\n    ...normData,\n    lead_exists: leadExists,\n    existing_lead_id: leadResult.id || null,\n    chatbot_was_enabled: chatbotEnabled,\n    should_proceed: shouldProceed,\n    activate_chatbot: containsKeyword && !chatbotEnabled\n  }\n}];"
            },
            "id": "evaluateaccess",
            "name": "Evaluate Access",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.should_proceed }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "filtroconversacion",
            "name": "Filtro Conversacion",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1060,
                400
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "c1",
                            "name": "final_content",
                            "value": "={{ $json.message_content }}",
                            "type": "string"
                        },
                        {
                            "id": "c2",
                            "name": "phone",
                            "value": "={{ $json.phone }}",
                            "type": "string"
                        },
                        {
                            "id": "c3",
                            "name": "lead_name",
                            "value": "={{ $json.lead_name }}",
                            "type": "string"
                        },
                        {
                            "id": "c4",
                            "name": "direction",
                            "value": "={{ $json.direction }}",
                            "type": "string"
                        },
                        {
                            "id": "c5",
                            "name": "message_id",
                            "value": "={{ $json.message_id }}",
                            "type": "string"
                        },
                        {
                            "id": "c6",
                            "name": "activate_chatbot",
                            "value": "={{ $json.activate_chatbot }}",
                            "type": "boolean"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1240,
                400
            ],
            "id": "settext",
            "name": "Set Content"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "WITH existing AS (\n  SELECT id FROM leads WHERE phone = '{{ $json.phone }}' LIMIT 1\n), \nnew_lead AS (\n  INSERT INTO leads (name, phone, status, source, chatbot_enabled) \n  SELECT '{{ $json.lead_name }}', '{{ $json.phone }}', 'NEW', 'whatsapp', true \n  WHERE NOT EXISTS (SELECT 1 FROM existing) \n  RETURNING id\n),\nupdate_chatbot AS (\n  UPDATE leads SET chatbot_enabled = true \n  WHERE phone = '{{ $json.phone }}' AND {{ $json.activate_chatbot }} = true\n  RETURNING id\n)\nSELECT COALESCE(\n  (SELECT id FROM existing), \n  (SELECT id FROM new_lead)\n) as lead_id",
                "options": {}
            },
            "id": "createlead",
            "name": "GetOrCreateLead",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1420,
                400
            ],
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "VyG1bjMeGSJKR4Dx",
                    "name": "PostgresPrexUp"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO messages (lead_id, content, direction, type, status, whatsapp_id) VALUES ('{{ $json.lead_id }}', '{{ $('Set Content').item.json.final_content }}', '{{ $('Set Content').item.json.direction }}', 'text', 'received', '{{ $('Set Content').item.json.message_id }}')",
                "options": {}
            },
            "id": "savemsg",
            "name": "SaveMessage",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1600,
                400
            ],
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "VyG1bjMeGSJKR4Dx",
                    "name": "PostgresPrexUp"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO message_queue (phone, content, status, created_at) VALUES ('{{ $('Set Content').item.json.phone }}', '{{ $('Set Content').item.json.final_content }}', 'pending', NOW())",
                "options": {}
            },
            "id": "insertqueue",
            "name": "Insert to Queue",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1780,
                400
            ],
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "VyG1bjMeGSJKR4Dx",
                    "name": "PostgresPrexUp"
                }
            }
        },
        {
            "parameters": {
                "amount": 3,
                "unit": "seconds"
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1960,
                400
            ],
            "id": "waitqueue",
            "name": "Wait 3s",
            "webhookId": "wait-queue"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "WITH pending AS (SELECT id, content FROM message_queue WHERE phone = '{{ $('Set Content').item.json.phone }}' AND status = 'pending' ORDER BY created_at), updated AS (UPDATE message_queue SET status = 'processed' WHERE id IN (SELECT id FROM pending) RETURNING id) SELECT string_agg(content, ' | ') as merged_message, count(*) as msg_count FROM pending",
                "options": {}
            },
            "id": "getqueue",
            "name": "Get & Merge Queue",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                2140,
                400
            ],
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "VyG1bjMeGSJKR4Dx",
                    "name": "PostgresPrexUp"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.merged_message }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "hasmsgs",
            "name": "Has Messages?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                2320,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "const queueData = $('Get & Merge Queue').first().json;\nconst contentData = $('Set Content').first().json;\nconst leadData = $('GetOrCreateLead').first().json;\n\nreturn [{\n  json: {\n    chat_input: queueData.merged_message,\n    session_id: contentData.phone,\n    lead_id: leadData.lead_id\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2500,
                400
            ],
            "id": "prepareai",
            "name": "Prepare AI Input"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $fromAI('url', 'La URL completa del endpoint de Supabase con filtros de búsqueda. Usa parámetros query como location=ilike.*Lima*&price=lt.50000&status=eq.disponible', 'string') }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $credentials.supabaseApi.serviceRole }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $credentials.supabaseApi.serviceRole }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "toolsearch",
            "name": "tool_search_properties",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                2400,
                600
            ],
            "description": "Busca propiedades en Supabase. Base URL: {{ $credentials.supabaseApi.host }}/rest/v1/properties. Filtros: location=ilike.*TEXTO*, price=lt.NUMERO, price=gt.NUMERO, area=lt.NUMERO, area=gt.NUMERO, status=eq.disponible. Limitar con limit=10",
            "credentials": {
                "supabaseApi": {
                    "id": "SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $credentials.supabaseApi.host }}/rest/v1/rpc/create_appointment_with_agent",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $credentials.supabaseApi.serviceRole }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $credentials.supabaseApi.serviceRole }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $fromAI('body', 'JSON con: property_id (UUID), client_name (string), client_phone (string), scheduled_date (YYYY-MM-DD), scheduled_time (HH:MM)', 'object') }}",
                "options": {}
            },
            "id": "toolcreate",
            "name": "tool_create_appointment",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                2540,
                600
            ],
            "description": "Crea una cita y asigna automáticamente un agente disponible. Requiere: property_id, client_name, client_phone, scheduled_date, scheduled_time. Devuelve: id de la cita, agent_name, agent_phone",
            "credentials": {
                "supabaseApi": {
                    "id": "SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.chat_input }}",
                "options": {
                    "systemMessage": "Fecha y hora actual: {{ $now }}\n\n# ROL\nEres PREXA, asistente virtual inmobiliario de PrexUp. Respondes por WhatsApp a leads interesados en terrenos y propiedades.\n\n# TONO Y ESTILO\n- Profesional pero cercano (tutea al cliente)\n- Respuestas cortas (máximo 3-4 líneas)\n- Emojis con moderación: ✅ 📍 🏠 📅 📞\n- Nunca uses asteriscos ni markdown\n- Cierra con pregunta o llamado a acción\n\n# HERRAMIENTAS DISPONIBLES\n\n## tool_search_properties\nBusca propiedades en la base de datos.\n**URL Base**: https://TU_SUPABASE_URL.supabase.co/rest/v1/properties\n**Filtros disponibles**:\n- `location=ilike.*Lima*` - Buscar por ubicación (case-insensitive)\n- `price=lt.50000` - Precio menor a (lt), mayor a (gt), igual (eq)\n- `area=gte.100` - Área mayor o igual (gte), menor o igual (lte)\n- `status=eq.disponible` - Solo disponibles\n- `limit=10` - Limitar resultados\n\n**Ejemplos de URL**:\n- Buscar en Lima: `?location=ilike.*Lima*&status=eq.disponible&limit=10`\n- Precio máx 50k: `?price=lt.50000&status=eq.disponible&limit=5`\n- Área mín 100m²: `?area=gte.100&status=eq.disponible&limit=10`\n\n## tool_create_appointment\nCrea una cita y asigna un agente automáticamente.\n**Campos requeridos** (JSON):\n```json\n{\n  \"property_id\": \"uuid-de-la-propiedad\",\n  \"client_name\": \"Nombre del cliente\",\n  \"client_phone\": \"51999999999\",\n  \"scheduled_date\": \"2026-01-25\",\n  \"scheduled_time\": \"10:00\"\n}\n```\n\n# FLUJO DE CONVERSACIÓN\n\n## 1. Consulta de propiedades\nUsuario: \"Quiero un terreno en Lima\"\n1. Usa `tool_search_properties` con `?location=ilike.*Lima*&status=eq.disponible&limit=10`\n2. Muestra máximo 3 opciones:\n   🏠 [Descripción]\n   📍 [Ubicación]\n   📐 [Área] m²\n   💰 [Moneda] [Precio]\n3. Pregunta: \"¿Te interesa alguno? Te puedo agendar una visita\"\n\n## 2. Agendar visita\nUsuario: \"Quiero ver el terreno en Miraflores\"\n1. Confirma cuál propiedad (por ID si hay varias)\n2. Pide: nombre completo, fecha y hora\n3. Usa `tool_create_appointment` con los datos\n4. Confirma:\n   ✅ Visita agendada\n   📅 [Fecha] a las [Hora]\n   👤 Te atenderá [Agent Name]\n   📞 [Agent Phone]\n\n# REGLAS CRÍTICAS\n- NUNCA inventes propiedades o datos\n- SIEMPRE usa las herramientas para buscar\n- Si no hay resultados, dilo honestamente\n- Para agendar necesitas nombre, teléfono, fecha y hora\n\n# RESPUESTAS RÁPIDAS\n- \"Hola\" → \"¡Hola! 👋 Soy PREXA de PrexUp. ¿Buscas terrenos o propiedades? Cuéntame qué zona y presupuesto tienes en mente 🏠\"\n- \"Gracias\" → \"¡Con gusto! Si tienes más dudas o quieres agendar una visita, aquí estoy 📲\""
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [
                2700,
                400
            ],
            "id": "aiagent",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4o",
                    "mode": "list",
                    "cachedResultName": "gpt-4o"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                2600,
                620
            ],
            "id": "openaimodel",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "gYGyxfOKDAAf2esW",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Prepare AI Input').item.json.session_id }}",
                "contextWindowLength": 20
            },
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                2740,
                620
            ],
            "id": "memory",
            "name": "Postgres Chat Memory",
            "credentials": {
                "postgres": {
                    "id": "VyG1bjMeGSJKR4Dx",
                    "name": "PostgresPrexUp"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const output = $json.output || '';\nconst leadId = $('Prepare AI Input').item.json.lead_id;\nconst safeOutput = output.replace(/'/g, \"''\");\n\nreturn [{ json: { full_response: safeOutput, lead_id: leadId, output: output } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2900,
                400
            ],
            "id": "prepareresponse",
            "name": "Prepare Response"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO messages (lead_id, content, direction, type, status) VALUES ('{{ $json.lead_id }}', '{{ $json.full_response }}', 'outbound', 'text', 'sent')",
                "options": {}
            },
            "id": "saveairesponse",
            "name": "Save AI Response",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                3080,
                400
            ],
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "VyG1bjMeGSJKR4Dx",
                    "name": "PostgresPrexUp"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const output = $('Prepare Response').first().json.output || '';\nconst normData = $('Normalizacion').first().json;\n\nif (!output || output.trim() === '') {\n  return [{ json: { \n    response_text: 'Lo siento, hubo un error. ¿Puedes repetir tu mensaje?',\n    instance_server_url: normData.instance_server_url,\n    instance_name: normData.instance_name,\n    instance_apikey: normData.instance_apikey,\n    user_number: normData.user_number\n  } }];\n}\n\nconst sentences = output.split(/(?<=[.!?])\\s+/).filter(s => s.trim().length > 0);\nconst chunks = [];\nfor (let i = 0; i < sentences.length; i += 2) {\n  const chunk = sentences.slice(i, i + 2).join(' ').trim();\n  if (chunk) chunks.push(chunk);\n}\n\nif (chunks.length === 0) {\n  chunks.push(output);\n}\n\nreturn chunks.map(text => ({ \n  json: { \n    response_text: text,\n    instance_server_url: normData.instance_server_url,\n    instance_name: normData.instance_name,\n    instance_apikey: normData.instance_apikey,\n    user_number: normData.user_number\n  } \n}));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3260,
                400
            ],
            "id": "splitresponse",
            "name": "Split Response"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                3440,
                400
            ],
            "id": "loop",
            "name": "Loop Messages"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.instance_server_url }}/message/sendText/{{ $json.instance_name }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $json.instance_apikey }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json.user_number }}"
                        },
                        {
                            "name": "text",
                            "value": "={{ $json.response_text }}"
                        },
                        {
                            "name": "delay",
                            "value": "={{ 1000 }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3620,
                500
            ],
            "id": "sendmsg",
            "name": "Enviar WhatsApp"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "Normalizacion",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalizacion": {
            "main": [
                [
                    {
                        "node": "Check Lead Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Lead Status": {
            "main": [
                [
                    {
                        "node": "Evaluate Access",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evaluate Access": {
            "main": [
                [
                    {
                        "node": "Filtro Conversacion",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filtro Conversacion": {
            "main": [
                [
                    {
                        "node": "Set Content",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Set Content": {
            "main": [
                [
                    {
                        "node": "GetOrCreateLead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GetOrCreateLead": {
            "main": [
                [
                    {
                        "node": "SaveMessage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SaveMessage": {
            "main": [
                [
                    {
                        "node": "Insert to Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert to Queue": {
            "main": [
                [
                    {
                        "node": "Wait 3s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 3s": {
            "main": [
                [
                    {
                        "node": "Get & Merge Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get & Merge Queue": {
            "main": [
                [
                    {
                        "node": "Has Messages?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Messages?": {
            "main": [
                [
                    {
                        "node": "Prepare AI Input",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Prepare AI Input": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "tool_search_properties": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "tool_create_appointment": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Prepare Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Response": {
            "main": [
                [
                    {
                        "node": "Save AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save AI Response": {
            "main": [
                [
                    {
                        "node": "Split Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Response": {
            "main": [
                [
                    {
                        "node": "Loop Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Messages": {
            "main": [
                [],
                [
                    {
                        "node": "Enviar WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar WhatsApp": {
            "main": [
                [
                    {
                        "node": "Loop Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": false
}